.register-container {
    background-color: #ffff;
    padding: 40px;
    color: white;
    min-height: 100vh;
}
.label {
  text-align: left;
}
.register-box {
    background-color: white;
    color: black;
    padding: 30px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 8px;
}
.h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}
form {
    width: 100%;
    height: 100%;
}

.register-box input {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
}

.register-button {
    background-color: #ff6b6b;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    font-weight: bold;
}

.login-link {
    text-align: center;
    margin-top: 10px;
    font-size: 0.9em;
}
.form-text {
    margin-top: 20px;
}
.error-box {
    background-color: #ffcccc;
    color: #d8000c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}