.login-container {
    max-width: 500px;
    margin: 60px auto;
    background-color: white;
    padding: 40px;
    border-radius: 4px;
    text-align: center;
}

.login-container h2 {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: bold;
}

.login-container label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin: 10px 0 5px;
}

.login-container input[type="email"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container button {
    margin-top: 20px;
    width: 100%;
    background-color: #ff5c5c;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #ff3c3c;
}

.login-container .register-link {
    display: block;
    margin-top: 20px;
    font-size: 14px;
}
.error {
    color: red;
    margin-top: -5px;
    text-align: right;
}
