

.tab {
    margin-right: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #888;
}

.tab.active {
    color: rgb(255, 213, 0);
}

.product-list {
    background-color: beige;
    display: flex;
    gap: 30px;
    padding: 0 20px;
    flex-wrap: wrap;
}

.sold-label {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: rgba(255, 0, 0, 0.8);
    color: #fff;
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 4px;
    z-index: 10;
}
.product-card {
    width: 200px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}

.product-image {
    width: 150px;
    height: 150px;
    background-color: #ddd;
    object-fit: cover;
}

.product-name {
    margin-top: 8px;
    font-size: 14px;
}
.btn btn-outline {
    margin-top: 10px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    color: #f39c06;
    background-color: #f9f9f9;
    border-radius: 5px;
    text-decoration: none;
}