.profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    background: #fff;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: bold;
}

.image-upload {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.profile-icon {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #ccc;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* ラベルをボタン風に */
.upload-label {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #ff6666;
    color: #ff6666;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.2s;
}

.upload-label:hover {
    background-color: #ff6666;
    color: white;
}

/* 実際のファイル入力を完全に非表示に */
input[type="file"] {
    display: none;
}

.file-input {
    display: none;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-button {
    margin-top: 20px;
}

.form-button button {
    width: 100%;
    padding: 12px;
    background-color: #ff6666;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}
.breadcrumb {
    margin: 10px 0 20px 0;
    padding-left: 20px;
    color: black;
}

.breadcrumb a {
    text-decoration: none;
    color: #0dc4f7;
}
/* 更新メッセージ */


.error-message {
    color: rgba(239, 11, 11, 0.5);
    border: #ff6666;
    margin: auto;
}
