.purchase-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
    gap: 30px;
    padding: 30px;
}

.left-area {
    background: #fff;
    padding: 20px;
    flex: 1;
}
.right-area {
    width: 300px;
    background: #fff;
    padding: 40px 0 0;
}
.product-info {
    padding:30px 0 0px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.product-image img {
    width: 200px;
    height: auto;
    margin-right: 15px;
}
.product-details {
    font-size: 27px;
    color: black;
    padding: 20px;
}
.product-details h3 {
    margin: 0;
    font-size: 27px;
}

.product-price {
    margin-top: 5px;
}

.payment-method-section label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

.payment-method-section select,
.payment-method-section input {
    width: 265px;
    height: auto;
    padding: 12px;
    margin: 10px 30px 20px 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
.payment-method-section  {
    padding: 15px;
    margin-top: 20px;
    position: relative;
}
.address-block
 {
    padding: 15px;
    margin-top: 20px;
    position: relative;
    border-top: 1px solid #ddd;
}
.address-main {
    margin: auto 100px;
}
.address-edit {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #007bff;
    text-decoration: underline;
}

.summary-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.summary-table th,
.summary-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.purchase-btn {
    width: 100%;
    background: #f66;
    color: #fff;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.purchase-btn:hover {
    background: #e44;
}

.hidden {
    display: none;
}

.page-title {
    text-align: center;
    margin: 30px 0;
    font-size: 24px;
}

.error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 4px;
}